@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=La+Belle+Aurore&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(0, 0, 0); */
}

header{
    height: 50px;
    width: 100%;
    background-image:linear-gradient(to right,#de6262,#ffb88c ) ;
}

.navbar{
    height: 50px;
}
.all-center{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.suraj{
    min-height: calc(100vh - 50px - 8vh);
    margin: 0;
    padding: 0;
   
} 

.blink {
    animation: blinker 0.6s linear infinite;
    color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: black;
    color: white;
}

